/* ------------ Layouts -------------- */
/* ------------ Основной -------------- */
.global-layout {
  max-width: 1230px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}
