$max-width = 1230px
$min-width = 1024px

/* ------------ Layouts -------------- */

/* ------------ Основной -------------- */
.global-layout
	max-width $max-width
	min-width $min-width
	margin 0 auto
	padding 30px
	box-sizing border-box
	position relative
