$max-width = 1230px
$min-width = 320px
$bluecolor = #317fb4
$edit = #c2fcc4

@import url('fonts/museo/font.css')
@import url('../js-libs/likely/likely.css')

html
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	font-family 'Museo'
	line-height 1.414
	font-weight 300
body
	padding 0
	margin 0
	background #222
	color #fff
.clearfix:after{
	content "."
	display block
	height 0
	visibility hidden
	clear both
}
ul,li
	margin 0
	padding 0
	list-style-type none
a
	text-decoration none
	color #fff
	border-bottom none
	padding-bottom 1px

.global-layout
	max-width $max-width
	min-width $min-width
	margin 0 auto
	padding 30px
	box-sizing border-box
	position relative
.when
	margin-top 10px
.when__date
	font-size: 3.25rem
	font-weight bold
	margin-bottom 5px
.when__time
	font-size 1.75rem
	font-weight 300
	display inline-block
.when__time:after
	content ""
	display inline-block
	width 10px
	height 10px
	border-radius 10px
	background #fc687b
	vertical-align middle
	margin-left 10px
	margin-right 7px
.when__place
	font-size 1.75rem
	font-weight 300
	display inline-block
.when__adress
	font-size 1rem
	font-weight 300
	font-style italic
	margin-top 2px
	color rgba(255,255,255,0.6)


.what__description
	font-size 1.75rem
	font-weight 300
	margin-top 160px
	margin-bottom 7px
.what__title
	font-size 4.25rem
	line-height 1
	font-weight bold
	margin-left -5px
.what__img
	width 220px
	display inline
	vertical-align middle
.who
	margin-top 100px
	margin-bottom 7px
	border-top 10px solid blue
	padding-top 40px
	width 70%
	transition-duration .3s
	@media (max-width: 1024px)
		width 100%
.who__text
	font-size 1.75rem
	font-weight 300
.who__item
	margin-top 30px
	width 46%
	float left
	@media (max-width: 768px)
		text-align center
		width 49%
.who__img
	width 100px
	border-radius 100px
	float left
	margin-right 30px
	@media (max-width: 768px)
		float none
		display inline
		margin-right 0px
		width 70px
.who__name
	font-size 1.25rem
	margin-top 20px
	@media (max-width: 768px)
		margin-top 20px
.who__info
	font-size 1rem
	font-style italic
	color rgba(255,255,255,0.6)
.theme__text
	font-size 1.75rem
	font-weight 300
	margin-top 100px
	margin-bottom 7px
	border-top 10px solid #3ea12b
	padding-top 40px
	width 55%
	float left
	transition-duration .3s
	@media (max-width: 768px)
		width 100%
		float none
.theme__img
	font-size 1.25rem
	width 38%
	float right
	margin-top 100px
	color rgba(255,255,255,0.6)
	@media (max-width: 768px)
		width 100%
		float none
.theme__gif
	width 100%
	margin-bottom 10px
.for
	margin-top 80px
	margin-bottom 7px
	border-top 10px solid #FB93F8
	padding-top 40px
	width 55%
	transition-duration .3s
	@media (max-width: 1024px)
		width 100%
.for__text
	font-size 1.75rem
	font-weight 300
.for__item
	margin-top 30px
.for__icon
	width 50px
	display block
	float left
	margin-right 30px
.for__title
	font-size 1.75rem
	padding-left 80px
.for__info
	font-size 1rem
	font-weight normal
	font-weight 300
	font-style italic
	padding-left 80px
	color rgba(255,255,255,0.6)
.price
	font-size 2.25rem
	margin-top 140px
	font-weight bold
	width 100%
	background rgba(255,255,255,.06)
	padding 20px
	margin-left -20px
	border-radius 10px
.price__two
	font-size 2.25rem
	margin-top 20px
	font-weight bold
	width 48%
	margin-bottom 100px
	padding-top 15px
	@media (max-width: 768px)
		width 100%
		float none
		margin-top 0px
.price__comment
	font-size 1.25rem
	margin-top -5px
	font-weight 300
	margin-bottom 40px
	font-style italic
	color rgba(255,255,255,0.5)
.price-form
	font-size 1.5rem
	margin-top 30px
	position relative
.price-form__input
	font-size 1.5rem
	font-family 'Museo'
	background transparent
	padding-top 10px
	padding-bottom 5px
	margin-bottom 10px
	border none
	border-bottom 1px solid rgba(255,255,255,0.7)
	transition-duration .3s
	width 100%
	color #fff
	&:focus
		outline none
		border-bottom 1px solid rgba(255,255,255,1)
.price-form__submit
	background none
	border 2px solid #fff
	box-sizing border-box
	padding 10px 20px 10px 20px
	font-size 24px
	font-family 'Museo'
	color #fff
	margin-top 20px
	position relative
	display block
	cursor pointer
	float right
	transition-duration .3s
	&:hover
		background #fff
		color #000
.price-form__submit:after
	content ""
	display block
	position absolute
	box-sizing border-box
	top 8px
	left 8px
	width 169px
	height 50px
	border-right 2px solid #fff
	border-bottom 2px solid #fff
	z-index -1
.likely
	display block
	width 100%
	margin-top 40px
.ya-share2
	margin-top 40px
	margin-bottom 10px
.likely:before
	content "."
	clear both
	display block
	height 0
	visibility hidden

::-webkit-input-placeholder {font-weight:300;}
::-moz-placeholder          {font-weight:300;}/* Firefox 19+ */
:-moz-placeholder           {font-weight:300;}/* Firefox 18- */
:-ms-input-placeholder      {font-weight:300;}
.dev
	margin-left -10px
.dev:before
	content "."
	clear both
	display block
	height 0
	visibility hidden
	margin-left -10px
.success
	display none
	position fixed
	width 100%
	height 100%
	z-index 10000
	background rgba(0,0,0,.8)
.success__text
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	display block
	width 80%
	height 30px
	text-align center
	margin auto
	font-size 2.25rem
	color #fff
.success__text span
	display block
	text-align center
	font-size 1rem
	color rgba(255,255,255,0.6)
.goodshare
	color #fff
	padding 10px 15px 10px 15px
	font-size 1rem
	font-weight normal
	cursor pointer
	float left
	width 20%
	box-sizing border-box
	text-align center
	@media (max-width: 750px)
		width 100%
		float none
		margin-top 0
		padding 25px 15px 25px 15px
		font-size 1.5rem
.goodshare i
	margin-right 5px
.goodshare.vk
	background #4d7198
.goodshare.fb
	background #3b5998
.goodshare.tg
	background #35ADE2
.goodshare.wa
	background #49E965
.goodshare.vi
	background #7D519E


