
$bluecolor = #317fb4
$edit = #c2fcc4

@import url('layout.css')
@import url('fonts/museo/font.css')
@import url('fonts/ptsans/font.css')

body
	padding 0
	margin 0
	font-size 16px
	line-height 24px
.clearfix:after{
	content "."
	display block
	height 0
	visibility hidden
	clear both
}
ul,li
	margin 0
	padding 0
	list-style-type none
a
	text-decoration none
	color #fff
	border-bottom none
	padding-bottom 1px



