doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.success
			.success__text Спасибо за&nbsp;регистрацию :-*
				| <span>Ждем вас 7 ноября в Центре своевременного искусства</span>
		.global-layout
			.when
				.when__date 7 ноября
				.when__time 18:30
				.when__place Центр своевременного искусства
				.when__adress г.&thinsp;Орел, ул.&thinsp;Ленина 1. Здание типографии &laquo;Труд&raquo;
			.what
				.what__description Лекция-дискуссия о веб-дизайне
				.what__title Разве так можно?<br>Нет, так нельзя
					=" "
					img(src="styles/default/css/img/pacman2.gif").what__img
			.who.clearfix
				.who__text Говорить и&nbsp;показывать будет ОрелСайтСтрой
				.who__item.clearfix
					img(src="styles/default/css/img/bogdan.jpg").who__img
					.who__name Богдан Юкин
					.who__info Front-end, верстка
				.who__item.clearfix
					img(src="styles/default/css/img/denis.jpg").who__img
					.who__name Денис Цветов
					.who__info Самый главный там
			.theme.clearfix
				.theme__text.
					Речь пойдет о&nbsp;смертных грехах в&nbsp;веб-дизайне. Что отличает сайт за&nbsp;10К от&nbsp;сайта за&nbsp;100К. Правилах хорошего и&nbsp;плохого тона, типографике, выравнивании текста, типографах, отступах и&nbsp;здравом смысле, наших ошибках и&nbsp;многом другом
				.theme__img
					img(src="styles/default/css/img/griffin.gif").theme__gif
					| Мы столько раз это проходили
			.for.clearfix
				.for__text Кому это надо?
				.for__item.clearfix
					img(src="styles/default/css/img/pac1.png").for__icon
					.for__title Начинающим веб-дизайнерам
					.for__info подчерпнете знаний и&nbsp;нашего опыта, поймете что такое хорошо, а&nbsp;что такое плохо
				.for__item.clearfix
					img(src="styles/default/css/img/pac2.png").for__icon
					.for__title Тем, кто уже занимается сайтами
					.for__info узнаете что-то новое, поделитесь своими мыслями и&nbsp;опытом
			.price.clearfix Вход бесплатно
				.price__comment если поделитесь с друзьями:
				.goodshare(data-type="vk").vk <i class="fa fa-vk" aria-hidden="true"></i> Вконтакте
					span(data-counter="vk")
				.goodshare(data-type="fb").fb <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					span(data-counter="fb")
				.goodshare(data-type="tg").tg <i class="fa fa-telegram" aria-hidden="true"></i> Telegram
					span(data-counter="tg")
				.goodshare(data-type="wa").wa <i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp
					span(data-counter="wa")
				.goodshare(data-type="vi").vi <i class="fa fa-phone" aria-hidden="true"></i> Viber
					span(data-counter="vi")
				//.ya-share2(data-services="vkontakte,facebook,viber,whatsapp,telegram",data-counter="" ,data-size="m")
				//form(action="/").price-form.clearfix
					input(type="text" name="name" placeholder="Как вас зовут").price-form__input
					input(type="text" name="phone" placeholder="Ваш телефон").price-form__input
					button(type="submit").price-form__submit Записаться
			.price__two 200 рублей
				.price__comment приходите инкогнито, оплата на входе
			.dev
				img(src="styles/default/css/img/orelsite.png")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="styles/default/js-libs/likely/likely.js")
		script(src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
		// script(src="styles/default/js/main.js")


