doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.global-layout
			.when
				.when__date 7 ноября
				.when__time 18:30
				.when__place Центр своевременного искусства
				.when__adress г.&thinsp;Орел, ул.&thinsp;Ленина 1. Здание типографии &laquo;Труд&raquo;
			.what
				.what__description Лекция-дискуссия о веб-дизайне
				.what__title Разве так можно?<br>Нет, так нельзя
					=" "
					img(src="styles/default/css/img/pacman2.gif").what__img
			.who.clearfix
				.who__text Говорить и показывать будет ОрелСайтСтрой
				.who__item.clearfix
					img(src="styles/default/css/img/bogdan.jpg").who__img
					.who__name Богдан Юкин
					.who__info Front-end, верстка
				.who__item.clearfix
					img(src="styles/default/css/img/denis.jpg").who__img
					.who__name Денис Цветов
					.who__info Самый главный там
			.theme.clearfix
				.theme__text.
					Речь пойдет о&nbsp;смертных грехах в&nbsp;веб-дизайне, правилах хорошего и&nbsp;плохого тона, типографике, здравом смысле, наших ошибках и&nbsp;многом другом
				.theme__img
					img(src="styles/default/css/img/griffin.gif").theme__gif
					| Мы столько раз это проходили
			.for.clearfix
				.for__text Кому это надо?
				.for__item.clearfix
					img(src="styles/default/css/img/pac1.png").for__icon
					.for__title Начинающим веб-дизайнерам
					.for__info подчерпнете знаний и&nbsp;нашего опыта, поймете что такое хорошо, а&nbsp;что такое плохо
				.for__item.clearfix
					img(src="styles/default/css/img/pac2.png").for__icon
					.for__title Тем, кто уже занимается сайтами
					.for__info узнаете что-то новое, поделитесь своими мыслями и&nbsp;опытом
			.price Вход 100&nbsp;рублей
				.price__comment Для тех, кто запишется
				form(action="/").price-form.clearfix
					input(type="text" name="name" placeholder="Как вас зовут").price-form__input
					input(type="text" name="phone" placeholder="Ваш телефон").price-form__input
					button(type="submit").price-form__submit Записаться
			.price__two 200 рублей
				.price__comment Без записи
			.likely.likely-light
				.vkontakte Поделиться
				.telegram Отправить
				.facebook Поделиться
				.twitter Твитнуть
				.gplus Плюсануть
			.dev

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="styles/default/js-libs/likely/likely.js")
		// script(src="styles/default/js/main.js")


